body{
    background-image: url("../Background_image.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Comfortaa', cursive;
}

.header{
    background-color: #9F92DE;
    width: 110%;
    margin-left: -5%;
    margin-right: -5%;
    margin-top: -25px;
}

h1 {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Berkshire Swash', cursive;
}

.laatikko {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    width: 60%;
    height: 450px;
    border-style: solid;
    border-color: #9F92DE;
    border-width: 20px;
    border-radius: 40px;
}

.tulos_otsikko {
    margin-left: 35%;
}

table {
    margin-top: 60px;
    width: 70%;
    margin-left: 14%;
    text-align: center;
}


tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #9F92DE;
}

.button {
    margin-top: 40px;
    margin-left: 38%;
    background-color: #9F92DE;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#Takaisin_nappi {
    text-decoration: none;
    color: white;
}