body{
    background-image: url("Background_image.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Comfortaa', cursive;
}

.header{
    background-color: #9F92DE;
    width: 110%;
    margin-left: -5%;
    margin-right: -5%;
    margin-top: -25px;
}

h1 {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Berkshire Swash', cursive;
}

.laatikko {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    width: 60%;
    height: 500px;
    border-style: solid;
    border-color: #9F92DE;
    border-width: 20px;
    border-radius: 40px;
}


.intro {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 20px;
    font-size: 25px;
}

h2 {
    text-align: center;
    padding-top: 20px;
}


ul{
    list-style-type: none;
}

.maa-lippu {
    float:left;
    width:33%;
}

.lippu {
    padding-left: 70px;
    padding-top: 20px;
    width: 100px;
}

.maa-nimi {
    float:left;
    width:33%;
}
.maa-nimi p {
    text-align: center;
    margin-top: -10px;
}

.maa-sää {
    float:left;
    width:33%;
}

li{
    padding-top: 20px;
    margin-right: 60px;
    margin-left: 30px;
    padding-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    border-color: #9F92DE;
    border-style: solid;
    border-radius: 7px;
}

li:hover {
    background-color: #EBCEEF;
}