body{
    background-image: url("Background_image.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Comfortaa', cursive;
    margin: 0;
}

.header {
    background-color: #9F92DE;
    margin-top: -27px;
}

h1 {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Berkshire Swash', cursive;
}

.laatikko {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    display: block;
    overflow: auto;
    background-color: white;
    width: 60%;
    border-style: solid;
    border-color: #9F92DE;
    border-width: 20px;
    border-radius: 40px;
}
/*
Yhteiset
_____________________________________________________________________________________________________________________
Petran Maavalita CSS
 */
.intro {
    text-align: center;
    padding-top: 20px;
}

aside {
    float: left;
    width: 45%;
}

.passport {
    border-style: solid;
    border-color: #9F92DE;
    width: 90%;
    height: 250px;
    margin-left: 10%;
    border-radius: 10px;
}

.Kuva_div {
    width: 10%;
    height: 12%;
    float: left;
    background-color: white;
    margin: 20px;
}

.alkutiedot {
    width: 15%;
    height: 115px;
    padding-top: 10px;
    padding-left: 20px;
    float: left;
}

.muuttuvat_tiedot {
    width: 60%;
    margin-left: 20px;
    float: left;
}

.pisteet {
    margin-top: 10px;
    float: left;
    width: 0%;
}

#pisteet_num {
    float: right;
    width: 0%;
}

.matka {
    float: left;
    width: 0%;
    margin-top: 50px;
}

#matka_num {
    float: right;
    width: 0%;
    margin-top: 50px;
}

#button_div{
    width: auto;
    list-style-type: none;
    margin-bottom: 30px;
}

#maa1_b, #maa2_b, #maa3_b {
    padding: 10px;
    width: 92%;
    background-color: white;
    margin-top: 10px;
    margin-left: 10%;
    text-align: center;
    border-color: #9F92DE;
    border-style: solid;
    border-width: 3px;
    border-radius: 7px;
}

.maavalita_button button:hover {
    background-color: #EBCEEF;
}

.mapdiv {
    padding-right: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 45%;
    height: 100%;
    float: right;
    margin-right: 5%;
    margin-bottom: auto;
    margin-top: auto;
    background-color: white;
    border-style: solid;
    border-color: #9F92DE;
    border-radius: 15px;
}

#Alankomaat {
    fill: #9F92DE;
}
#Portugali {
    fill: #9F92DE;
}
#Serbia {
    fill: #9F92DE;
}
#Itävalta {
    fill: #9F92DE;
}
#Italia {
    fill: #9F92DE;
}
#Iso-Britannia {
    fill: #9F92DE;
}
#Tsekki {
    fill: #9F92DE;
}
#Belgia {
    fill: #9F92DE;
}
#Bulgaria {
    fill: #9F92DE;
}
#Sveitsi {
    fill: #9F92DE;
}
#Saksa {
    fill: #9F92DE;
}
#Viro {
    fill: #9F92DE;
}
#Suomi {
    fill: #9F92DE;
}
#Kreikka {
    fill: #9F92DE;
}
#Unkari {
    fill: #9F92DE;
}
#Irlanti {
    fill: #9F92DE;
}
#Islanti {
    fill: #9F92DE;
}
#Latvia {
    fill: #9F92DE;
}
#Moldova {
    fill: #9F92DE;
}
#Montenegro {
    fill: #9F92DE;
}
#Norja {
    fill: #9F92DE;
}
#Puola {
    fill: #9F92DE;
}
#Serbia {
    fill: #9F92DE;
}
#Slovakia {
    fill: #9F92DE;
}
#Slovenia {
    fill: #9F92DE;
}
#Ruotsi {
    fill: #9F92DE;
}
#Ukraina {
    fill: #9F92DE;
}
#Espanja {
    fill: #9F92DE;
}
#Ranska {
    fill: #9F92DE;
}
#Kypros {
    fill: #9F92DE;
}
#Romania {
    fill: #9F92DE;
}

.mapdiv path {
    stroke: white;
}

#absent {
    fill: #b5b5b5;
}
/*
Petran Maavalita CSS
_____________________________________________________________________________________________________________________
Petran Tulos CSS
 */

.tulos_otsikko {
    margin-left: 35%;
}

table {
    margin-top: 60px;
    width: 70%;
    margin-left: 14%;
    text-align: center;
}


tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #9F92DE;
}

.button {
    margin-top: 40px;
    margin-left: 38%;
    background-color: #9F92DE;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#Takaisin_nappi {
    text-decoration: none;
    color: white;
}

/*
Petran Tulos CSS
_____________________________________________________________________________________________________________________
Julian Username_page CSS
 */

.käyttäjänimi_laatikko {
    margin-top: 6.5%;
    margin-left: 21%;
    margin-right: 21%;
    display: block;
    overflow: auto;
    background-color: white;
    width: 58%;
    border-style: solid;
    border-color: #9F92DE;
    border-width: 20px;
    border-radius: 40px;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
}


#laatikko_sisallolle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3% 8%;
}

#form_laatikko {
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#kotimaa_valinta_laatikko {
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: #eabeee;
    width: 130%;
    background-color: #ebdaef;
    font-size: 20px;
    padding: 9%;
}

#nimi_kotimaa_tallennusnappi {
    border-radius: 15px;
    border-style: solid;
    border-color: #fca2b3;
    border-width: 4px;
    background-color: #ffc6d0;
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding: 9%;
}

#nimi_kotimaa_tallennusnappi:hover {
    background-color: #fca2b3;
}

#kotimaa_vaihtoehdot_kartta {
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#lopeta_peli_nappi {
    margin-left: 83%;
    border-radius: 15px;
    border-style: solid;
    border-color: #fca2b3;
    border-width: 4px;
    background-color: #ffc6d0;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding: 1%;
}

#lopeta_peli_nappi:hover {
    background-color: #fca2b3;
}