body{
    background-image: url("Background_image.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Comfortaa', cursive;
}

.header{
    background-color: #9F92DE;
    width: 101%;
    margin: -0.5%;
    margin-top: -25px;
}

h1 {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Berkshire Swash', cursive;
}

.laatikko {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    display: block;
    overflow: auto;
    background-color: white;
    width: 60%;
    border-style: solid;
    border-color: #9F92DE;
    border-width: 20px;
    border-radius: 40px;
}

.intro {
    text-align: center;
    padding-top: 20px;
}

aside {
    float: left;
    width: 45%;
}

.passport {
    border-style: solid;
    border-color: #9F92DE;
    width: 90%;
    height: 250px;
    margin-left: 10%;
    border-radius: 10px;
}

.Kuva_div {
    width: 10%;
    height: 12%;
    float: left;
    background-color: white;
    margin: 20px;
}

.alkutiedot {
    width: 15%;
    height: 115px;
    padding-top: 10px;
    padding-left: 20px;
    float: left;
}

.muuttuvat_tiedot {
    width: 60%;
    margin-left: 20px;
    float: left;
}

.pisteet {
    margin-top: 10px;
    float: left;
    width: 0%;
}

.pisteet_num {
    float: right;
    width: 0%;
}

.matka {
    float: left;
    width: 0%;
    margin-top: 50px;
}

.matka_num {
    float: right;
    width: 0%;
    margin-top: 50px;
}

#maat{
    width: auto;
    list-style-type: none;
}

button{
    padding: 10px;
    width: 45%;
    background-color: white;
    margin-top: 10px;
    margin-left: 10%;
    text-align: center;
    border-color: #9F92DE;
    border-style: solid;
    border-width: 3px;
    border-radius: 7px;
}

button:hover {
    background-color: #EBCEEF;
}

.mapdiv {
    padding-right: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 45%;
    float: right;
    margin-right: 5%;
    margin-bottom: 30px;
    background-color: white;
    border-style: solid;
    border-color: #9F92DE;
    border-radius: 15px;
}

.mapdiv path {
    fill: #9F92DE;
    stroke: white;
}

#absent {
    fill: #b5b5b5;
}

