body{
    background-image: url("images/background_for_Lentopeli.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Comfortaa', cursive;
    margin: 0;
}

.header {
    background-color: #9F92DE;
    margin-top: -27px;
}

h1 {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Berkshire Swash', cursive;
}

.laatikko {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    display: block;
    overflow: auto;
    background-color: white;
    width: 60%;
    border-style: solid;
    border-color: #9F92DE;
    border-width: 20px;
    border-radius: 40px;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
}


#laatikko_sisallolle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
}

#form_laatikko {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#kotimaa_valinta_laatikko {
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: #eabeee;
    width: 380px;
    background-color: #ebdaef;
    font-size: 20px;
}

#nimi_kotimaa_tallennusnappi {
    border-radius: 15px;
    border-style: solid;
    border-color: #fca2b3;
    border-width: 4px;
    background-color: #ffc6d0;
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding: 20px;
}

#nimi_kotimaa_tallennusnappi:hover {
    background-color: #fca2b3;
}

#kotimaa_vaihtoehdot_kartta {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#lopeta_peli_nappi {
    width: 7vw;
    right: 10vw;
    bottom: 9vh;
    left: 75vw;
    position: absolute;
    border-radius: 15px;
    border-style: solid;
    border-color: #fca2b3;
    border-width: 4px;
    background-color: #ffc6d0;
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding: 20px;
    float: right;
}

#lopeta_peli_nappi:hover {
    background-color: #fca2b3;
}