body{
    background-image: url("images/background_for_Lentopeli.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Comfortaa', cursive;
}

.header{
    background-color: #9F92DE;
    width: 110%;
    margin-left: -5%;
    margin-right: -5%;
    margin-top: -27px;
}

h1 {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Berkshire Swash', cursive;
}

.laatikko {
    margin-top: 7%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    width: 60%;
    height: 500px;
    border-style: solid;
    border-color: #9F92DE;
    border-width: 20px;
    border-radius: 40px;
}

.kayttajanimi {
    margin-top: 5%;
    margin-left: 5%;
}

.kotimaa_valinta {
    margin-left: 5%;
}

#kotimaa_valinta_laatikko {
    border-style: solid;
    border-radius: 15px;
    width: 500px;
    background-color: #ebdaef;
}

#nimi_kotimaa_tallennus {
    text-align: center;
}

#nimi_kotimaa_tallennusnappi {
    margin: 10px;
    border-radius: 15px;
    border-style: solid;
    border-color: #fca2b3;
    border-width: 4px;
    background-color: #ffc6d0;
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

#nimi_kotimaa_tallennusnappi:hover {
    background-color: #fca2b3;
}
