body{
    background-image: url("images/background_for_Lentopeli.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Comfortaa', cursive;
    margin: 0;
}

.header {
    background-color: #9F92DE;
    margin-top: -27px;
}

h1 {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Berkshire Swash', cursive;
}

.laatikko {

    display: block;
    overflow: auto;
    top: 50%;
    left: 50%;
    margin-left: 365px;
    margin-top: 140px;
    background-color: #ededff;
    width: 1100px;
    border-style: solid;
    border-color: #9F92DE;
    border-width: 20px;
    border-radius: 40px;
    padding: 30px;
}

.kayttajanimi {
    margin: 3%;
}

.kotimaa_valinta {
    margin: 3%;
}

#kotimaa_valinta_laatikko {
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: #eabeee;
    width: 400px;
    background-color: #ebdaef;
    padding: 20px;
    font-size: 20px;
}

#nimi_kotimaa_tallennus {
    text-align: center;
}

#nimi_kotimaa_tallennusnappi {
    margin: 3%;
    border-radius: 15px;
    border-style: solid;
    border-color: #fca2b3;
    border-width: 4px;
    background-color: #ffc6d0;
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding: 20px;
}

#nimi_kotimaa_tallennusnappi:hover {
    background-color: #fca2b3;
}
